body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-78px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2882px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:76px;
  width:750px;
  height:2882px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1429px;
  width:152px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:313px;
  width:168px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:732px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:842px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1062px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:246px;
  width:190px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1842px;
  width:152px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u1743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1744_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1744_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1744_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:385px;
  width:650px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#AAAAAA;
}
#u1744 .text {
  position:absolute;
  align-self:center;
  padding:25px 25px 25px 25px;
  box-sizing:border-box;
  width:100%;
}
#u1744_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1744.hint {
}
#u1744_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1744.disabled {
}
#u1744_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1744.hint.disabled {
}
#u1745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:60px;
  color:#555555;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:129px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:60px;
  color:#555555;
}
#u1745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:121px;
  width:270px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u1746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1747_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1747_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1747_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  padding:25px 25px 25px 25px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1801px;
  width:650px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#AAAAAA;
}
#u1747 .text {
  position:absolute;
  align-self:center;
  padding:25px 25px 25px 25px;
  box-sizing:border-box;
  width:100%;
}
#u1747_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1747.hint {
}
#u1747_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1747.disabled {
}
#u1747_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:110px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#AAAAAA;
}
#u1747.hint.disabled {
}
#u1748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:38px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:2682px;
  width:309px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:38px;
}
#u1748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1282px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:600px;
  width:152px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1589px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:671px;
  width:392px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1708px;
  width:228px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1524px;
  width:280px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u1754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:952px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1172px;
  width:650px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u1756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:1992px;
  width:358px;
  height:445px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:2363px;
  width:250px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u1758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F2F2F2;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:2165px;
  width:465px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F2F2F2;
}
#u1759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#F2F2F2;
  line-height:37px;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:2481px;
  width:465px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#F2F2F2;
  line-height:37px;
}
#u1760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:2022px;
  width:332px;
  height:332px;
  display:flex;
  transition:none;
}
#u1761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:332px;
}
#u1761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
