body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1954px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1954px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1943px;
  width:126px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1943px;
  width:39px;
  height:39px;
  display:flex;
  transition:none;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:253px;
  width:680px;
  height:120px;
  display:flex;
  transition:none;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:120px;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:296px;
  width:72px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:296px;
  width:30px;
  height:35px;
  display:flex;
  transition:none;
  color:#FFFFFF;
  text-align:left;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:397px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:296px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:405px;
  width:52px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 67, 67, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:397px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:405px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:397px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:405px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:397px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:405px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:397px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:405px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u423 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:501px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:679px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:857px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1035px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1213px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:519px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:697px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:875px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1053px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1231px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:302px;
  width:126px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:596px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:603px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:596px;
  width:88px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:603px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:774px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:781px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:774px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:781px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:774px;
  width:169px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:781px;
  width:153px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:952px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:959px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:952px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:959px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1130px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1137px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1130px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1137px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1308px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1315px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1308px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1315px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1308px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1315px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1391px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1569px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1747px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1409px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1587px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1765px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1486px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:1493px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1486px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1493px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1664px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1671px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1664px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1671px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1842px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1849px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1842px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1849px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1842px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1849px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:39px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:152px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:39px;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:162px;
  filter:drop-shadow(none);
  transition:none;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:137px;
  width:323px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:152px;
  width:112px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:151px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.09803921568627451);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:135px;
  width:172px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:161px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:165px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:163px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:163px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:149px;
  width:1px;
  height:38px;
  display:flex;
  transition:none;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:149px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:161px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
