body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1865px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1862px;
  width:126px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1862px;
  width:39px;
  height:39px;
  display:flex;
  transition:none;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:253px;
  width:680px;
  height:120px;
  display:flex;
  transition:none;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:120px;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:296px;
  width:72px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:296px;
  width:30px;
  height:35px;
  display:flex;
  transition:none;
  color:#FFFFFF;
  text-align:left;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:296px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:420px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:598px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:776px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:954px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1132px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:438px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:616px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:794px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:972px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1150px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:302px;
  width:126px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:515px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:522px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:515px;
  width:88px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:522px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:693px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:700px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:693px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:700px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:693px;
  width:169px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:700px;
  width:153px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:871px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:878px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:871px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:878px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1049px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1056px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1049px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1056px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1227px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1234px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1227px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1234px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1227px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1234px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1310px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1488px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1666px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1328px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1506px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1684px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1405px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:1412px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1405px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1412px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1583px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1590px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1583px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1590px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1761px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1768px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1761px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1768px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1761px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1768px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:39px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:152px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:39px;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:162px;
  filter:drop-shadow(none);
  transition:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:137px;
  width:323px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:152px;
  width:112px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:151px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.09803921568627451);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:135px;
  width:172px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:161px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:165px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:163px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:163px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:149px;
  width:1px;
  height:38px;
  display:flex;
  transition:none;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:149px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:161px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
