body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1021px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:77px;
  width:766px;
  height:1021px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:241px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u1528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.4980392156862745);
  border-radius:95px;
  filter:drop-shadow(none);
  transition:none;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:460px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:480px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 0.24705882352941178);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:347px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u1531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:592px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u1532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.4980392156862745);
  border-radius:95px;
  filter:drop-shadow(none);
  transition:none;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:799px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:819px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 0.30196078431372547);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:698px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u1535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#00AAAA;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:216px;
  width:342px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#00AAAA;
}
#u1536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#D7D7D7;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:508px;
  width:891px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#D7D7D7;
}
#u1537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:102px;
  width:195px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1538 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:392px;
  width:195px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#AAAAAA;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:816px;
  width:379px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:83px;
  color:#AAAAAA;
}
#u1540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:702px;
  width:195px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1541 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
