body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:480px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:102px;
  width:766px;
  height:480px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:375px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:234px;
  width:450px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:435px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:620px;
  width:767px;
  height:435px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:870px;
  width:261px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:20px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:80px;
  color:#00AAAA;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:754px;
  width:90px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:80px;
  color:#00AAAA;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.4980392156862745);
  border-radius:95px;
  filter:drop-shadow(none);
  transition:none;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:375px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:395px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:545px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:1093px;
  width:767px;
  height:545px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1343px;
  width:261px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:20px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:80px;
  color:#00AAAA;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:1227px;
  width:90px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:80px;
  color:#00AAAA;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.4980392156862745);
  border-radius:95px;
  filter:drop-shadow(none);
  transition:none;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1469px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1489px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 0.30196078431372547);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:470px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u2574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:480px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:102px;
  width:766px;
  height:480px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:204px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.4980392156862745);
  border-radius:95px;
  filter:drop-shadow(none);
  transition:none;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:395px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:415px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u2578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(10, 153, 160, 0.30196078431372547);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(10, 153, 160, 1);
  border-radius:116px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  line-height:32px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:299px;
  width:190px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  line-height:32px;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
