body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1951px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:110px;
  width:750px;
  height:1951px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.09803921568627451);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:145px;
  width:172px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:173px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:175px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:175px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:175px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:159px;
  width:1px;
  height:38px;
  display:flex;
  transition:none;
}
#u813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:159px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:171px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1953px;
  width:126px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#E0E0E0;
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1953px;
  width:39px;
  height:39px;
  display:flex;
  transition:none;
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:263px;
  width:680px;
  height:120px;
  display:flex;
  transition:none;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:120px;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:306px;
  width:72px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u819 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:306px;
  width:30px;
  height:35px;
  display:flex;
  transition:none;
  color:#FFFFFF;
  text-align:left;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 67, 67, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:407px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:306px;
  width:34px;
  height:30px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:415px;
  width:52px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:407px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:415px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:407px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:415px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:407px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:415px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:407px;
  width:162px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:415px;
  width:104px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:511px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:689px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:867px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1045px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1223px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:529px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:707px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u838 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:885px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u839 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1063px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u840 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1241px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:312px;
  width:126px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:606px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:613px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:606px;
  width:88px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:613px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:784px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:791px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:784px;
  width:76px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:791px;
  width:60px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:784px;
  width:169px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:791px;
  width:153px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:962px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:969px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:962px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:969px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1140px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1147px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1140px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1147px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1318px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1325px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1318px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1325px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1318px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1325px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1401px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1579px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1757px;
  width:272px;
  height:143px;
  display:flex;
  transition:none;
  text-align:left;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:143px;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1419px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1597px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#000000;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1775px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#000000;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1496px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1503px;
  width:102px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1496px;
  width:110px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1503px;
  width:86px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1674px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:1681px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1674px;
  width:166px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1681px;
  width:140px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1852px;
  width:70px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1859px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1852px;
  width:107px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1859px;
  width:83px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1852px;
  width:86px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1859px;
  width:66px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:39px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:162px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:39px;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:162px;
  filter:drop-shadow(none);
  transition:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:148px;
  width:323px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:163px;
  width:112px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:162px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
