body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:397px;
  width:370px;
  height:525px;
  display:flex;
  transition:none;
}
#u1085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:525px;
}
#u1085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:487px;
  width:125px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1086 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1086_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
  line-height:50px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:438px;
  width:130px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
  line-height:50px;
}
#u1087 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:441px;
  width:86px;
  height:75px;
  display:flex;
  transition:none;
}
#u1088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:75px;
}
#u1088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:38px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:538px;
  width:301px;
  height:266px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:38px;
}
#u1089 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  border-radius:53px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:827px;
  width:170px;
  height:51px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u1090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:26px;
  color:#FFFFFF;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:837px;
  width:104px;
  height:31px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-size:26px;
  color:#FFFFFF;
}
#u1091 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
  color:#FFFFFF;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:424px;
  width:17px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
  color:#FFFFFF;
}
#u1092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1092_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1313px;
  width:680px;
  height:610px;
  display:flex;
  transition:none;
}
#u1095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:610px;
}
#u1095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:610px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1313px;
  width:680px;
  height:610px;
  display:flex;
  opacity:0.55;
  transition:none;
  transform-origin:50% 50%;
}
#u1096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:50px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:1585px;
  width:290px;
  height:250px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:50px;
}
#u1098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 67, 67, 1);
  border-radius:66px;
  filter:drop-shadow(none);
  transition:none;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:1874px;
  width:167px;
  height:50px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
}
#u1099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:1884px;
  width:112px;
  height:32px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#FFFFFF;
}
#u1100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1100_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC Bold", "Noto Sans SC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  line-height:50px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:1429px;
  width:135px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC Bold", "Noto Sans SC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  line-height:50px;
}
#u1101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:50px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:1493px;
  width:291px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:50px;
}
#u1102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1415px;
  width:243px;
  height:463px;
  display:flex;
  transition:none;
}
#u1103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:463px;
}
#u1103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1468px;
  width:275px;
  height:471px;
  display:flex;
  transition:none;
}
#u1104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:471px;
}
#u1104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
