body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:397px;
  width:370px;
  height:525px;
  display:flex;
  transition:none;
}
#u1057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:525px;
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:492px;
  width:118px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1058 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
  line-height:50px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:438px;
  width:130px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
  line-height:50px;
}
#u1059 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:37px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:545px;
  width:285px;
  height:259px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:37px;
}
#u1060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:53px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:827px;
  width:170px;
  height:51px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u1061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:839px;
  width:92px;
  height:27px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1313px;
  width:680px;
  height:610px;
  display:flex;
  transition:none;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:610px;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:610px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1313px;
  width:680px;
  height:610px;
  display:flex;
  opacity:0.55;
  transition:none;
  transform-origin:50% 50%;
}
#u1065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:50px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:1585px;
  width:335px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
  line-height:50px;
}
#u1066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 67, 67, 1);
  border-radius:66px;
  filter:drop-shadow(none);
  transition:none;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:1874px;
  width:170px;
  height:51px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
}
#u1067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:1886px;
  width:92px;
  height:27px;
  display:flex;
  opacity:0.85;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u1068 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1068_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Noto Sans SC Bold", "Noto Sans SC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  line-height:50px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:1429px;
  width:135px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Noto Sans SC Bold", "Noto Sans SC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  line-height:50px;
}
#u1069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1069_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:37px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:1497px;
  width:305px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:37px;
}
#u1070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1415px;
  width:243px;
  height:463px;
  display:flex;
  transition:none;
}
#u1071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:463px;
}
#u1071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1468px;
  width:275px;
  height:471px;
  display:flex;
  transition:none;
}
#u1072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:471px;
}
#u1072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:438px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
}
#u1073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
